<table>
    <tr><a></a>
        <td> <a href="https://deimie.github.io/individual/">Home</a> </td>
        <td><a href="https://deimie.github.io/individual/gh-pages/notes">Notes</a></td>
        <td><a href="https://deimie.github.io/individual/gh-pages/dataStructuresProject">Data Structures Project</a></td>
        <td><a href="https://deimie.github.io/individual/gh-pages/createTask">Create Task</a></td>
        <td><a href="https://deimie.github.io/individual/gh-pages/replit">Replit</a></td>
    </tr>
</table>

<hr>
